body {
  background-color: white;
  font-size: 18pt;
  font-family: fixed;
}

#textarea {
  font-family: fixed;
  font-size: 18pt;
}

.nocircle {
  padding: 8px;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
}

#instructions.visible {
  display: block;
}

#instructions {
  display: none;
}

#history .menu {
  visibility: hidden;
}

.Tableau {
  margin-top: 10px;
  empty-cells: show;
}

.Tableau .name {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Tableau .rhs {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.Tableau .ratio {
  display: block;
  position: absolute;
  background: gray;
  margin: 0px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.Tableau .basiscontext.visible {
  display: block;
}

.Tableau .basiscontext {
  display: none;
  position: absolute;
  background: gray;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.Tableau .x {
  border-bottom: 1px solid black;
}

.Tableau input {
  background-color: lightgray;
  border: none;
  font-family: fixed;
  font-size: 18pt;
}

.Tableau {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: lightgray;
  text-align: center;
}

.Tableau td {
  padding: 10px;
}

.Tableau .b {
  border-left: 1px solid black;
}

.Tableau .c {
  border-top: 1px solid black;
}

.Tableau .z {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.Tableau .menu {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.Tableau .menucontext.visible {
  display: block;
}

.Tableau .menucontext {
  display: none;
  position: absolute;
  background: gray;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.Tableau .xcontext.visible {
  display: block;
}

.Tableau .xcontext {
  display: none;
  position: absolute;
  background: gray;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.Tableau .basis {
  border-right: 1px solid black;
}

.Tableau th:hover {
  background-color: white;
}

.Tableau td:hover {
  background-color: white;
}
